$color-white:		#ffffff;
$color-black:		#000000;

$color-gray-98:		#faf9f7; // elements light background
$color-gray-95:		#fbfbfd; // menu - background
$color-gray-90:		#eaedf3; // every elements border

$color-blue-80:		#c2c7cc; // nav, menu, pagination - button border
$color-blue-60:		#8a9199; // nav, menu, pagination - button font

$color-blue-30:		#3e3f42;
$color-blue-15:		#212226;

$color-yellow-100:   #1bc0bb;
$color-yellow-80:    #1dcdc7;
$color-red-95:       #5e6ae5;

$color-social-twitter:		#3ea9dd;
$color-social-facebook:		#3c5a98;
$color-social-googleplus:	#d14836;

$primary-color: $color-red-95; // define primary color
